# Copyright (c) 2026 Bob Hablutzel. All rights reserved.
#
# Licensed under a dual-license model: freely available for non-commercial use;
# commercial use requires a separate license. See LICENSE file for details.
# Contact license@geastalt.com for commercial licensing.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "async-generate-ffpe-id.fullname" . }}
  labels:
    {{- include "async-generate-ffpe-id.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "async-generate-ffpe-id.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "async-generate-ffpe-id.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: JAVA_TOOL_OPTIONS
              value: {{ .Values.javaOpts | quote }}
            - name: DB_HOST
              value: {{ .Values.database.host | quote }}
            - name: DB_PORT
              value: {{ .Values.database.port | quote }}
            - name: DB_NAME
              value: {{ .Values.database.name | quote }}
            - name: DB_USERNAME
              value: {{ .Values.database.username | quote }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: DB_PASSWORD
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: {{ .Values.kafka.bootstrapServers | quote }}
            - name: KAFKA_CONSUMER_GROUP_ID
              value: {{ .Values.kafka.consumerGroupId | quote }}
            - name: PENDING_ACTION_TOPIC_GENERATE_IDS
              value: {{ .Values.kafka.topics.generateExternalIdentifiers | quote }}
            - name: CONTACT_EXTERNAL_ID_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretName }}
                  key: CONTACT_EXTERNAL_ID_KEY
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
